{% extends 'base.html' %}
{% block title %} Home {% endblock title %} 
{% block customCSS %} <link rel="stylesheet" href="../static/css/home.css">{% endblock customCSS%}
{% block content %}
    <!-- ----------------------------  Navigation ---------------------------------------------- -->

    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="#" class="text-gray">Blooger</a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="iconbar"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="/home">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="/about">About</a>
                    </li>
                    <li class="nav-link">
                        <a href="/create-blog">Create a Blog</a>
                    </li>
                    <li class="nav-link">
                        <a href="/contact-us">Contact Us</a>
                    </li>
                </ul>
            </div>
            <ul class="nav-items">
                <li class="button-item">
                    <a href="/logout" ><button class="btnlogout">Logout</button></a>
                </li>
                <li class="social text-gray">
                    <a href="#"><i class="fab fa-facebook-f" id="facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram" id="instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter" id="twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube" id="youtube"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- ------------x---------------  Navigation --------------------------x------------------- -->

    <!-- --------------------------- Main Site Section ------------------------------>

    <main>
        <!------------------------ Site Title ---------------------->

        <section class="site-title">
            <div class="site-background" data-aos="fade-up" data-aos-delay="100">
                <h3>Tours & Travels</h3>
                <h1>Amazing Place on Earth</h1>
                <button class="btn">Explore</button>
            </div>
        </section>

        <!------------x----------- Site Title ----------x----------->

        <!-- --------------------- Blog Carousel ----------------- -->

        <section>
           
            <div class="blog">
                <div class="container">
                    <h2 class="recpos">Recently Posted</h2>
                    <div class="owl-carousel owl-theme blog-post">
                        {% for post in posts %}
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            {% set imagepath = "../static/assets/Blog-post/"+post.blogimage %}
                            <img src={{imagepath}} alt={{post.blogid}} width="345" height="280">
                            <div class="blog-title">
                                <h3>{{post.blogtitle}}</h3>
                                <a href="/each-blog/{{post.blogid}}"><button class="btn btn-blog">Read</button></a>
                                {% set timediffsec = (current_time - post.date_created).seconds %}
                                {% set timediffday = timediffsec/(24*60*60) %}
                                {% set timediffhour = timediffsec/(60*60) %}
                                {% set timediffmin = timediffsec/60 %}
                                {% if timediffday | int > 0 %}
                                <span>{{timediffday | int}} days ago</span>
                                {% elif timediffhour | int > 0 %}
                                <span>{{timediffhour | int}} hours ago</span>
                                {% elif timediffmin | int > 0 %}
                                <span>{{timediffmin | int}} minutes ago</span>
                                {% elif timediffsec | int > 0 %}
                                <span>{{timediffsec | int}} seconds ago</span>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="owl-navigation">
                        <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                        <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
                    </div>
                </div>
            </div>
        </section>

        <!-- ----------x---------- Blog Carousel --------x-------- -->

        <!-- ---------------------- Site Content -------------------------->

        <section class="container">
            <div class="site-content">
                <div class="posts">
                    {% for post in posts %}
                    {% if loop.index < 5 %}
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                {% set imagepath = "../static/assets/Blog-post/"+post.blogimage %}
                                <img src={{imagepath}} class="img" alt="post.blogid">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{post.user.username}}</span>
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{post.date_created}}</span>
                                {% set noofcomments = post.comments | length %}
                                <span>{{noofcomments}} comments</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <div class="post-title-view">{{post.blogtitle}}</div>
                            <p>{{post.blogdesc | truncate(500)}}</p>
                            <a href="/each-blog/{{post.blogid}}"><button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button></a>
                        </div>
                    </div>
                    {% endif %} 
                    {% if loop.index < 4 %}
                    <hr>
                    {% endif %}
                    {% endfor %}
                    <div class="pagination">
                        <a href="#"><i class="fas fa-chevron-left"></i></a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <aside class="sidebar">
                    <div class="popular-post">
                        <h2>Popular Post</h2>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                            <div class="post-image">
                                <div>
                                    <img src="../static/assets/popular-post/m-blog-1.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                        2019</span>
                                    <span>2 Commets</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording system to better analyse road accidents</a>
                            </div>
                        </div>   
                    </div>
                </aside>
            </div>
        </section>

        <!-- -----------x---------- Site Content -------------x------------>

    </main>

    <!---------------x------------- Main Site Section ---------------x-------------->


    <!-- --------------------------- Footer ---------------------------------------- -->

    <footer class="footer">
        <div class="container">
            <div class="about-us" data-aos="fade-right" data-aos-delay="200">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quia atque nemo ad modi officiis
                    iure, autem nulla tenetur repellendus.</p>
            </div>
            <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
                <h2>Newsletter</h2>
                <p>Stay update with our latest</p>
                <div class="form-element">
                    <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
            <div class="instagram" data-aos="fade-left" data-aos-delay="200">
                <h2>Instagram</h2>
                <div class="flex-row">
                    <img src="../static/assets/instagram/thumb-card3.png" alt="insta1">
                    <img src="../static/assets/instagram/thumb-card4.png" alt="insta2">
                    <img src="../static/assets/instagram/thumb-card5.png" alt="insta3">
                </div>
                <div class="flex-row">
                    <img src="../static/assets/instagram/thumb-card6.png" alt="insta4">
                    <img src="../static/assets/instagram/thumb-card7.png" alt="insta5">
                    <img src="../static/assets/instagram/thumb-card8.png" alt="insta6">
                </div>
            </div>
            <div class="follow" data-aos="fade-left" data-aos-delay="200">
                <h2>Follow us</h2>
                <p>Let us be Social</p>
                <div>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright ©2022 All rights reserved 
            </h4>
        </div>
        <div class="move-up">
            <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
        </div>
    </footer>

    <!-- -------------x------------- Footer --------------------x------------------- -->
{% endblock content %}